<div class="container mt-3">
  <p>연대의 <%= @topic.title %></p>
  <ul class="list-group">
    <% @subtopics.each do |sub_topic| %>
      <%= link_to sub_topic do %>
        <li class="list-group-item">
          <%= sub_topic.title %>
        </li>
      <% end %>
    <% end %>
  </ul>

</div>
